:root {
  --random-spin: 1;
}

.div1 img,
.div2 img,
.div3 img {
  display: block;
}

.spin,
.spin2,
.spin3 {
  animation: spin ease-in-out forwards;
  animation-duration: calc(var(--random-spin) * 0.1s);
}

.grid-slot {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@keyframes spin {
  to {
    transform: translateY(calc(var(--random-spin) * -90px));
  }
}

.stop {
  display: none;
}

.grid-slot img {
  width: 90px;
}
