:root {
  --random-spin: 1;
}

span {
  display: block;
  height: 30px;
}

.spin,
.spin2,
.spin3 {
  animation: spin ease-in-out forwards;
  animation-duration: calc(var(--random-spin) * 0.1s);
}

.span3 {
  color: red;
}

div {
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@keyframes spin {
  to {
    transform: translateY(calc(var(--random-spin) * -30px));
  }
}

.stop {
  display: none;
}
