body {
	background:#080e26;
}

svg {
	position:absolute;
	left:0;
	top:0;
	visibility:hidden;
}

canvas {
margin-top:25em;
z-index:-2
0;


}
.comm2 {
    color: var(--text-color);
    position: absolute;
    font-size: 2em;
    margin: 5em;
    margin-top: 2em;
}
.comm2 p{
	font-size: 1em;
  }
  .comm2 h1{
	font-size:1.5em;
	color: var(--special-color);
  }
@media only screen and (max-width: 800px) {

	canvas {
	    margin-top: 0em;
    margin-left: -25em;
		z-index:-2
		0;
		
		}
		.comm2 {
			color: var(--text-color);
			
			font-size: 1em;
			margin:1em;
			margin-top: 2em;
		}
}